<!DOCTYPE html>
<html lang='fr-FR' class='no-js'>
    <head>
        <meta charset='utf-8'>
        <meta name='description' content=''>
        <meta name='viewport' content='width=device-width, initial-scale=1'>

        <title></title>

        {% block stylesheets %}
            <link rel='stylesheet' href='css/main.css'>
        {% endblock stylesheets %}

        {% block javascript_top %}{% endblock %}
    </head>

    <body {% block body_attr %}{% endblock %}>
        {% block icons %}
            <svg style='position:absolute;width:0;height:0;overflow:hidden'>
                <defs>
                    <symbol id='icon' viewBox='0 0 0 0'>
                        <title>Icon</title>
                    </symbol>
                </defs>
            </svg>
        {% endblock icons %}

        <header id='header'>
            <div class='container'>
                <h1>Alexandre Berthaud</h1>
                <nav>
                    <ul>
                        <li>
                            <a href='#'>Projets</a>
                        </li>
                        <li>
                            <a href='#'>Ateliers</a>
                        </li>
                        <li>
                            <a href='#'>Musique</a>
                        </li>
                        <li>
                            <a href='#'>Mille au carré</a>
                        </li>
                        <li>
                            <a href='#'>Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        {% block content %}{% endblock %}

        <footer>
        </footer>

        {% block javascript_bottom %}
            <script src='js/main.js' defer></script>
        {% endblock %}
    </body>
</html>
