/* Slider */
.wrapper-sliders{
	height: 600px;
	margin: -32px 0 0;
	text-align: right;
	position: relative;
}

.wrapper-slider{
	display: inline-block;
	vertical-align: top;
	transform: scaleX(0);
	transform-origin: 0 50%;
	.content-slider{
		display: block;
		width: 100%;
		height: 100%;
		opacity: 0;
	}
	ul{
		position: relative;
		list-style-type: none;
		margin: 0;
		padding: 0;
		height: 100%;
		>li{
			position: absolute;
			top: 0;
			height: 100%;
			background-position: 50% 50%;
			background-size: cover;
			&:before{
				content: '';
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			}
		}
		a{
			display: block;
		}
		img{
			opacity: 0;
		}
	}
	&.wrapper-slider-left{
		width: calc(#{$col*9} - #{2*$gutter});
		height: 480px;
		overflow: hidden;
		background: darken($theme1, 10%);
		ul{
			>li{
				&:before{
					background: $theme1;
					mix-blend-mode: multiply;
				}
			}
		}
	}
	&.wrapper-slider-right{
		width: $col*2;
		height: 480px;
		overflow: hidden;
		margin-top: 122px;
		background: $theme2;
		ul{
			>li{
				&:before{
					background: $theme2;
					mix-blend-mode: hard-light;
				}
			}
		}
	}
}

.wrapper-projects-titles{
	width: 315px;
	height: 100px;
	position: absolute;
	bottom: 63px;
	left: $col*10;
	display: block;
	transform: rotate(-90deg);
	transform-origin: 0 0;
	pointer-events: none;
	overflow: hidden;
	opacity: 0;
	&.visible{
		opacity: 1;
	}
	h2{
		margin: 0;
		font-family: $rubik;
		font-size: 5rem;
		// font-size: 7rem;
		color: $white;
	}
	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
		text-align: left;
		>li{
			width: 100%;
			margin: 0;
			padding: 0 0 0 26px;
			position: absolute;
			top: 50%;
			transform: translate3d(0, -50%, 0);
		}
	}
}

.wrapper-projects-numbers{
	width: $col;
	height: 42px;
	position: absolute;
	bottom: 140px;
	right: 0;
	display: block;
	pointer-events: none;
	overflow: hidden;
	opacity: 0;
	&.visible{
		opacity: 1;
	}
	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
		text-align: left;
		>li{
			width: 100%;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 50%;
			transform: translate3d(0, -50%, 0);
			text-align: center;
			font-family: $rubik-medium;
			font-size: 3rem;
			color: $white;
		}
	}
}

.wrapper-slider-indicator{
	display: block;
	position: absolute;
	right: $col;
	width: calc(#{2*$col} + #{2*$gutter});
	height: 3px;
	bottom: 160px;
	background: $theme2;
	.slider-indicator{
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: $white;
	}
}

.elem-slider{
	ul{
		// transform: translate3d(100%, 0, 0);
	}
}
