/* Slider */
.wrapper-sliders{
	height: 600px;
	margin: -32px 0 0;
	ul{
		position: relative;
		list-style-type: none;
		margin: 0;
		padding: 0;
		height: 100%;
		>li{
			position: absolute;
			top: 0;
			height: 100%;
			background-position: 50% 50%;
			background-size: cover;
			&:before{
				content: '';
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: $theme1;
				mix-blend-mode: multiply;
			}
		}
		img{
			opacity: 0;
		}
	}
}

.wrapper-slider-left{
	width: calc(#{$col*9} - #{2*$gutter});
	height: 480px;
	margin-left: calc(#{$col} - #{2*$gutter});
	overflow: hidden;
}
