{% extends 'layout/layout.html.twig' %}

{% block content %}
<div class='bg-page'></div>
<div class='container container-page'>
	<div class='wrapper-sliders'>
		<div class='wrapper-slider wrapper-slider-left'>
			<ul>
				<li style='background-image: url(../img/octo.jpg);'>
					<img src='img/octo.jpg'>
				</li>
				<li style='background-image: url(../img/octo.jpg);'>
					<img src='img/octo.jpg'>
				</li>
			</ul>
		</div><div class='wrapper-slider wrapper-slider-right'>
			<ul>
				<li style='background-image: url(../img/octo.jpg);'>
					<img src='img/octo.jpg'>
				</li>
				<li style='background-image: url(../img/octo.jpg);'>
					<img src='img/octo.jpg'>
				</li>
			</ul>
		</div>
		<div class='wrapper-projects-titles'>
			<ul>
				<li>
					<h2>Oct.0</h2>
				</li>
			</ul>
		</div>
	</div>
	<div class='grid wrapper-bloc-desc grid'>
		<div class='bloc-desc'>
			<p>Bienvenue sur mon portfolio.<br/> Voici une sélection de mes projets préférés de 2014 à 2017.</p>
			<a href='#' class='btn'>Voir les projets <span class='wrapper-icon-btn'><svg class='icon'><use xlink:href='#icon-arrow-right'/></use></svg></a>
		</div>
	</div>
	<div class='text-circle' id='textCircle'>
		<span class='letter outlined'>C</span><span class='letter outlined'>r</span><span class='letter outlined'>é</span><span class='letter outlined'>a</span><span class='letter outlined'>t</span><span class='letter outlined'>i</span><span class='letter outlined'>o</span><span class='letter outlined'>n</span> 
		<span class='letter'>n</span><span class='letter'>u</span><span class='letter'>m</span><span class='letter'>é</span><span class='letter'>r</span><span class='letter'>i</span><span class='letter'>q</span><span class='letter'>u</span><span class='letter'>e</span>
	</div>
	<div class='wrapper-bloc-contact'>
		<div class='content-bloc-contact grid'>
			<div class='bloc-contact'>
				<h3 class='title-contact'>Contact</h3>
				<h2 class='questions-contact'><span class='dash-contact'></span>Une idée dont vous aimeriez parler ? Un projet d’atelier à mettre en place ?</h2>
			</div>
		</div>
		<div class='hover-indic'>
			Continuez<br/> à survoler
			<svg class='icon'><use xlink:href='#icon-arrow-right-full'/></use></svg>
		</div>
	</div>
</div>
{% endblock content %}
