{% extends 'layout/layout.html.twig' %}

{% block content %}
<div class='container'>
	<div class='grid wrapper-bloc-desc'>
		<div class='bloc-desc'>
			<p>Bienvenue sur mon portfolio.<br/> Voici une sélection de mes projets préférés de 2014 à 2017.</p>
			<a href='#' class='btn'>Voir les projets <span class='wrapper-icon-btn'><svg class='icon'><use xlink:href='#icon-arrow-right'/></svg></use></a>
		</div>
	</div>
	<div class='wrapper-bloc-contact grid'>
		<div class='bloc-contact'>
			<h3 class='title-contact'>Contact</h3>
			<h2 class='questions-contact'>Une idée dont vous aimeriez parler ? Un projet d’atelier à mettre en place ?</h2>
		</div>
	</div>
</div>
{% endblock content %}
