// Variables //


// Colors
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$theme1: rgb(216, 206, 225);
$theme2: rgb(36, 33, 236);

// Transitions
$transition: 0.3s ease-in-out;


// Fonts
$roboto: 'robotomono', sans-serif;
$roboto-italic: 'robotomonoitalic', $roboto;
$rubik: 'rubik', sans-serif;
$rubik-italic: 'rubikitalic', $rubik;
$rubik-medium: 'rubikmedium', $rubik;
$rubik-medium-italic: 'rubikmediumitalic', $rubik-italic;
$rubik-bold: 'rubikbold', $rubik-medium;
$rubik-bold-italic: 'rubikbolditalic', $rubik-medium-italic;

// Mediaqueries
$retina: 'only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)';

$desktop: '1100px';
$desktop-small: '960px';
$tablet: '780px';
$phone: '580px';
$phone-small: '400px';


// Grid
$col: 100/12*1%;

$gutter: 10px;
