/* Header */
#header{
	padding: 80px 0 0;
	position: relative;
	z-index: 1;
	.grid{
		justify-content: space-between;
		align-items: baseline;
	}
	h1{
		width: calc(#{$col*4} - #{2*$gutter});
	}
}

.nav-header{
	width: calc(#{$col*7} - #{2*$gutter});
	text-align: right;
	margin-left: 50px;
	padding: 0;
	li{
		display: inline-block;
		vertical-align: top;
		margin: 0 0 0 25px;
	}
	a{
		font-size: 1.8rem;
		position: relative;
		z-index: 1;
		&:after{
			//content: '.';
			display: inline-block;
			vertical-align: baseline;
			content: '';
			width: 3px;
			height: 3px;
			background-color: $black;
			border-radius: 50%;
			transition: 0.2s ease-in-out;
			transform-origin: 50% 50%;
			margin: 0 0 0 0.1em;
			z-index: -1;
			position: relative;
		}
		&:hover, &:focus{
			&:after{
				transform: scale(6);
				background: $theme2;
			}
		}
	}
}
